.banner{
    position: relative;
    &-slide{
        height: 600px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        &.swiper-slide-active{
            .banner__title{
                animation-name: bot-to-top;
                animation-duration: .6s;
                animation-iteration-count: 1;
            }
            .banner__card{
                animation-name: top-to-bot;
                animation-duration: .6s;
                animation-iteration-count: 1;
            }
        }
    }
    &__title{
        display: flex;
        align-items: center;
        font-size: 74px;
        line-height: 93px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
    }
    &__container,&__row,&__col{
        height: 100%;
    }
    &__col{
        display: flex;
        align-items: center;
    }
    &__card{
        max-width: 360px;
        background-color: #F7F7F7;
        padding: 0 20px;
        height: 100%;
        .card{
            height: 100%;
            margin-bottom: 0;
            &__img{
                height: 290px;
            }
        }
        
    }
    &__pagination{
        position: absolute;
        bottom: 0;
        height: 30px;
        display: flex;
        justify-content: center;
        width: auto;
        background-color: $gray;
        border-top-left-radius: $radiusBtn;
        border-top-right-radius: $radiusBtn;
        z-index: 24;
        padding: 0 20px;
        right: 50%;
    }
    
    
}
@media screen and (max-width:1599px){
    .banner{
        &__title{
            font-size: 58px;
            line-height: 70px;
        }
    }
}
@media screen and (max-width:1199px){
    .banner{
        &__title{
            font-size: 48px;
        }
    }
}
@media screen and (max-width:991px){
    .banner{
        &-slide{
            height: 450px;
        }
        
    }
}
@media screen and (max-width:575px){
    .banner{
       &__pagination{
           display: none;
       }
       &__title{
        font-size: 24px;
        line-height: 28px;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    }
}