.basket{
  padding-bottom: 100px;
  &-item{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid rgba(#000, .15);
    &:last-child,&:last-of-type{
      border-bottom: 1px solid rgba(#000, .15);
    }
    &__name{
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      width: 45%;
      padding-right: 5%;
    }
    &__img{
        margin-right: 30px;
      overflow: hidden;
        border-radius: 6px;
    }
    &__count{
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    &__price{
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
  }
  &-promo{
    margin-top: 20px;
  form{
    display: flex;
  }
    &__input{
      max-width: 200px;
      margin-right: 35px;
    }
    &__btn{
      padding: 13px 44px;
    }
  }
  &-order{
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 35px 0 45px;
    &__title{
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(#000, .2);
      margin: 0 30px;
    }
    &__text{
      font-size: 16px;
      line-height: 24px;
      padding: 15px 30px;

      &-b{
        font-size: 24px;
        line-height: 30px;
        padding-left: 30px;

      }

    }
    &__row{
      padding: 16px 0;
      background: rgba(#E6E6E6, .2);
    }
    &__price{
      font-size: 20px;
      line-height: 24px;
      padding: 15px 0;
      &-b{
        font-size: 24px;
        line-height: 30px;
      }
    }
    &__btn{
      display: flex;
      justify-content:center;
      align-items: center;
      width: calc(100% - 60px);
      padding: 18px;
      margin: 45px 30px 0;
    }
  }
}

@media screen and (max-width: 991px){
  .basket{
    &-order{
      margin-top: 40px;
    }
  }
}
@media screen and (max-width: 575px){
  .basket{
    &-promo{
      form{
        flex-wrap: wrap;
      }
      &__input{
        margin-right: 0;
        max-width: 100%;
        margin-bottom: 20px;
      }
      &__btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &-item{
      flex-wrap: wrap;
      &__img{
        width: 25%;
        margin-right: 0;
        margin-bottom: 25px;
      }
      &__name{
        width: 75%;
        padding-right: 0;
        margin-bottom: 25px;
        padding-left: 15px;
      }
      &__count{
        width: 50%;
      }
      &__price{
        width: 50%;
      }

    }
    &-order{
      &__text{
        font-size: 12px;
        padding: 15px 0 15px 30px;
        &-b{
          font-size: 14px;
        }
      }
      &__price{
        font-size: 14px;
        &-b{
          font-size: 16px;
        }
      }
    }
  }
}