.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $blue;
  color: #fff;
  border-radius: $radiusBtn;
  font-size: 16px;
  line-height: 24px;
  //transition: none;
  cursor: pointer;
  transition: $transition3;
  &:hover,&.active{
    background: #001F8B;
    color: #fff;
  }

  &-brown{
    background: #9A7F5F;
    background: $brownGr;
  }
  &-brownborder{
    background: transparent;
    border: 2px solid #C9BBAE;
    color: $brown;
    &:hover,&.active{
      background: #C9BBAE;
      color: #fff;
    }
  }
}
@media screen and (max-width:991px){
  .btn{
    font-size: 14px;
  }
}
@media screen and (max-width:767px){
  .btn{
    font-size: 13px;
  }
}