.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $blue;
  color: #fff;
  border-radius: $radiusBtn;
  font-size: 16px;
  line-height: 24px;
  transition: $transition2;
  cursor: pointer;
  &:hover,&.active{
    background: #001F8B;
    background: $blueGr;
    color: #000;
  }

  &-brown{
    background: #9A7F5F;
    background: $brownGr;
  }
}
@media screen and (max-width:991px){
  .btn{
    font-size: 14px;
  }
}
@media screen and (max-width:767px){
  .btn{
    font-size: 13px;
  }
}