.card {
  padding-bottom: 50px;

  &__img {
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 380px;
    img{
      width: 100%;
      max-width: 100%;
      height: auto;
    }

  }

  &__tag, &__heart {
    position: absolute;
    top: 15px;
    z-index: 10;
  }

  &__tag {
    right: 15px;
    padding: 4px 9px;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    border-radius: $radiusBtn;
    background-color: #fff;

  }

  &__heart {
    display: none;
    left: 15px;
    transition: $transition3;

    &:hover {
      transform: scale(1.2);
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
  }

  &__info {
    padding: 15px;
  }

  &__reviews {
    font-size: 12px;
    line-height: 15px;
  }

  &__availability {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $blue;
  }

  &__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    height: 50px;
  }

  &-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__new {
      font-weight: 500;
      font-size: 24px;
      line-height: 20px;
    }

    &__old {
      font-family: Geometria;
      font-size: 18px;
      line-height: 24px;
      text-decoration: line-through;
      margin-bottom: -2px;
      opacity: .8;
    }

    &__discount {
      font-weight: 600;
      font-size: 24px;
      line-height: 20px;
      color: $blue;
    }
  }

  &-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  &__btn {
    width: 48%;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-border {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }
  }

}

@media screen and(max-width: 1439px) {
  .card {
    padding-bottom: 40px;

    &__info {
      padding: 15px 0;
    }

    &__availability, &__reviews {
      font-size: 11px;
    }

    &-price {
      &__new {
        font-size: 20px;

      }

      &__old {
        margin-bottom: -4px;
        font-size: 16px;
      }

      &__discount {
        font-size: 22px;
      }
    }

    &__btn {
      &-border {
        font-size: 12px;
      }
    }

  }
}

@media screen and(max-width: 1199px) {
  .card {
    padding-bottom: 30px;


  }
}

@media screen and(max-width: 767px) {
  .card {
    padding-bottom: 25px;

    &__name {
      font-size: 11px;
      line-height: 15px;
      height: 44px;
    }

    &__feedback {
      flex-wrap: wrap;

      ul {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px !important;
      }
    }

    &-btn {
      flex-wrap: wrap;
    }

    &__btn {
      width: 100%;
      padding: 5px;

      &-border {
        margin-top: 15px;
      }
    }


  }
}
