.header {
  padding-top: 15px;
&__burger{
  display: none;
}
  &__city {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    img {
      margin-right: 10px;
    }
  }

  &-menu {
    display: flex;

    li {
      margin-right: 30px;
      &:last-child,&:last-of-type{
        margin-right: 0;
      }
      a {
        font-size: 14px;
        line-height: 24px;
        display: block;
      }
    }

  }

  &__login {
    display: flex;
    align-items: center;

    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      margin-left: 10px;
    }
  }

  &__row {
    padding-bottom: 30px;
  }

  &__search {
    max-width: 300px;

    &-img {
      display: none;
    }
  }

  &-info {
    display: flex;
    align-items: center;

    &__text {
      margin-left: 15px;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      flex-direction: column;

      span {
        font-weight: bold;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0.01px;
        text-transform: uppercase;
        color: $blue;
      }
    }
  }

  &-tel {
    display: flex;
    align-items: center;

    &__img {
      margin-right: 15px;
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__num {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    &__link {
      color: $blue;
      font-weight: bold;
      font-size: 11px;
      line-height: 20px;
      text-transform: uppercase;

    }
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__link {
      display: block;
      margin-left: 15px;
    }
  }

  &-category {
    display: flex;
    align-items: center;

    &__link {
      position: relative;

      &:hover {
        & > .header-category__content {
          visibility: visible;
          opacity: 1;
        }
      }

      &-blue {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: $blue;
      }
    }

    &__hover {
      display: flex;
      transition: $transition3;
      justify-content: space-between;
      font-family: 'Geometria', sans-serif;

      & > li {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 40px;

        &:last-child, &:last-of-type {
          padding-right: 0;
        }

        & > a {
          display: flex;
          align-items: center;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
        }

        &:hover {
          & > .header-category__submenu {
            visibility: visible;
            opacity: 1;
            z-index: 10;
          }

        }
      }
    }

    &__submenu {
      position: absolute;
      width: 1000px;
      border-radius: 6px;
      z-index: -1;
      background-color: #fff;
      top: 19px;
      left: -130px;
      visibility: hidden;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
      transition: $transition3;
      opacity: 0;
      display: flex;

      li {
        display: block;
        font-size: 14px;
        line-height: 28px;


        a {
          display: block;
          text-decoration: none;
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;
        }
      }
    }
  }

  &__border {
    border-bottom: 1px solid rgba(#000, .1);
    border-top: 1px solid rgba(#000, .1);
    padding: 7px 0;
    margin-top: 15px;
  }

  &-basket {
    display: flex;
    align-items: center;

    &__link {
      display: flex;
flex-wrap: wrap;
      span {
        white-space: nowrap;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding-left: 5px;
      }

      img {
        margin-right: 25px;
      }
    }
  }

  &__abc {
    span {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      margin-right: 20px;
    }

    a {
      font-size: 14px;
      line-height: 17px;
      margin-right: 15px;
      text-transform: uppercase;

      &:first-child, &:first-of-type {
        font-weight: bold;

      }
    }
  }
}

.form-wrapper-header {
  display: flex;
  max-width: 300px;

  & > span {
    width: 100%;
    position: relative;

    &:first-child {
      width: calc(100% - 40px);
    }

    &:nth-child(2) {
      width: 40px;
    }

    /*  &::before{
        content: url("../img/search.svg");
        display: block;
        position: absolute;
        top: 0px;
        right: 8px;
      }*/
    & > input {
      width: 100%;
      border-radius: $radiusBtn;
      background: #FBFBFB;
      padding: 6px 12px;
      max-width: 300px;

      &::placeholder {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $brown;
      }
    }

    & > button {
      width: 100%;
      border-radius: 50%;
      background: $brownGr;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px 8px 8px 9px;
      height: 100%;
      margin-left: 5px;
      transition: $transition3;

      &:hover, &.active {
        background: $blueGr;
        color: #000;
      }
    }
  }
}
@media screen and (max-width:1439px){
  .header{
    &-menu {
  
      li {
        margin-right: 20px;
        &:last-child,&:last-of-type{
          margin-right: 0;
        }
        a {
          font-size: 13px;
          line-height: 23px;
          display: block;
          
        }
      }
  
    }
    &-info{
      &__text{
        span{
          font-size: 9px;
        }
      }
    }
    &-category{
      &__hover{
        & > li{
          &> a{
            font-size: 11px;
          }
        }
      }
      &__submenu{
        width: 615px;
      }
    }
    &-basket{
      &__link{
        span{
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width:1199px){
  .header{
    &__city{
      font-size: 11px;
    }
    &-menu {
  
      li {
        margin-right: 15px;
       
        a {
          font-size: 11px;
          line-height: 20px;
          display: block;
          
        }
      }
  
    }
    &__login{
      span{
        font-size: 12px;
      }
    }
    &-social{
      display: none;
    }
    &-info{
      &__text{
        margin-left: 10px;
        font-size: 12px;
        span{
          font-size: 7px;
        }
      }
    }
    &-tel{
      &__num{
        font-size: 14px;
      }
      &__link{
        font-size: 10px;
      }
    }
    &-category{
      width: 100%;
      &__hover{
        display: flex;
        justify-content: space-between;
        width: 100%;
        & > li{
          padding-right: 0;
        }
      }
      &__submenu{
        left: -100px;
      }
    }
    &-basket{
      &__link{
        display: none;
        &:last-of-type,&:last-child{
          display: flex;
        }
        span{
          font-size: 13px;
        }
      }
    }
    &__abc{
      span{
        font-size: 12px;
      }
      a{
        font-size: 12px;
        margin-right: 12px;
      }
    }
  }
}
@media screen and(max-width:1199px){
  .header{
    &-menu {
      width: 100%;
  justify-content: space-between;
      li {
        margin-right: 0;
       
        a {
          font-size: 11px;
          line-height: 20px;
          display: block;
          
        }
      }
  
    }
  }
}
@media screen and (max-width:991px){
  .header{
      &__search{
          &-img{
              display: block;
              
      padding: 6px;
      height: 100%;
          }
          
      }
      &-category{
        &__hover{
          li{
            a{
              font-size: 10px;
            }
          }
        }
        &__submenu{
          width: 540px;
          left: -70px;
        }
      }
      &-basket{
        &__link{
          span{
            font-size: 10px;
          }
        }
        
      }
      &__abc{
        span{
          font-size: 10px;
        }
        a{
          font-size: 10px;
          margin-right: 5px;
        }
      }
  }
  .form-wrapper-header{

      position: fixed;
      top: -70px;
      visibility: hidden;
      opacity: 0;
      left: 0;
      width: 100%;
      padding: 15px 40px;
      background-color: $brown;
      z-index: 100;
      transition: $transition3;
      max-width: 100%;
      &.active{
          visibility: visible;
          opacity: 1;
          top: 0;
      }
      & > span{
        & > input {
          padding: 3px;
          max-width: 95%;
        }
         & > button{
          padding: 3px;
          margin-left: -11px;
          &:hover{
              background: $blue;
          }
         }
      }
     
  } 
}
@media screen and (max-width:767px){
  .header{
    &-menu{
      display: none;
    }
    &__burger{
      display: block;
  }
  &-category{
    overflow-x: hidden;
    overflow-y: scroll;
    &__hover{
      flex-direction: column;
      padding: 30px 0!important;
      align-items: center;
      li{
        a{
          font-size: 12px;
          padding-bottom: 10px;
        }
        }
    }
    &__submenu{
      display: none;
    }
  }
  &-info,&-tel{
    padding-bottom: 20px;
    img,svg{
      display: none;
    }
  }
  }
}