.header {
  padding-top: 15px;

  &__city {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    img {
      margin-right: 10px;
    }
  }

  &-menu {
    display: flex;

    li {
      a {
        font-size: 14px;
        line-height: 24px;
        display: block;
        margin-right: 30px;
      }
    }

  }

  &__login {
    display: flex;
    align-items: center;

    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      margin-left: 10px;
    }
  }

  &__row {
    padding-bottom: 30px;
  }

  &__search {
    max-width: 300px;

    &-img {
      display: none;
    }
  }

  &-info {
    display: flex;
    align-items: center;

    &__text {
      margin-left: 15px;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      flex-direction: column;

      span {
        font-weight: bold;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0.01px;
        text-transform: uppercase;
        color: $blue;
      }
    }
  }

  &-tel {
    display: flex;
    align-items: center;

    &__img {
      margin-right: 15px;
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__num {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    &__link {
      color: $blue;
      font-weight: bold;
      font-size: 11px;
      line-height: 20px;
      text-transform: uppercase;

    }
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__link {
      display: block;
      margin-left: 15px;
    }
  }

  &-category {
    display: flex;
    align-items: center;

    &__link {
      position: relative;

      &:hover {
        & > .header-category__content {
          visibility: visible;
          opacity: 1;
        }
      }

      &-blue {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: $blue;
      }
    }

    &__hover {
      display: flex;
      transition: $transition3;
      justify-content: space-between;
      font-family: 'Geometria', sans-serif;

      & > li {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 40px;

        &:last-child, &:last-of-type {
          padding-right: 0;
        }

        & > a {
          display: flex;
          align-items: center;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
        }

        &:hover {
          & > .header-category__submenu {
            visibility: visible;
            opacity: 1;
            z-index: 10;
          }

        }
      }
    }

    &__submenu {
      position: absolute;
      width: 1000px;
      border-radius: 6px;
      z-index: -1;
      background-color: #fff;
      top: 19px;
      left: -130px;
      visibility: hidden;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.45);
      transition: $transition3;
      opacity: 0;
      display: flex;

      li {
        display: block;
        font-size: 14px;
        line-height: 28px;


        a {
          display: block;
          text-decoration: none;
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;
        }
      }
    }
  }

  &__border {
    border-bottom: 1px solid rgba(#000, .1);
    border-top: 1px solid rgba(#000, .1);
    padding: 7px 0;
    margin-top: 15px;
  }

  &-basket {
    display: flex;
    align-items: center;

    &__link {
      display: flex;

      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding-left: 5px;
      }

      img {
        margin-right: 25px;
      }
    }
  }

  &__abc {
    span {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      margin-right: 20px;
    }

    a {
      font-size: 14px;
      line-height: 17px;
      margin-right: 15px;
      text-transform: uppercase;

      &:first-child, &:first-of-type {
        font-weight: bold;

      }
    }
  }
}

.form-wrapper-header {
  display: flex;
  max-width: 300px;

  & > span {
    width: 100%;
    position: relative;

    &:first-child {
      width: calc(100% - 40px);
    }

    &:nth-child(2) {
      width: 40px;
    }

    /*  &::before{
        content: url("../img/search.svg");
        display: block;
        position: absolute;
        top: 0px;
        right: 8px;
      }*/
    & > input {
      width: 100%;
      border-radius: $radiusBtn;
      background: #FBFBFB;
      padding: 6px 12px;
      max-width: 300px;

      &::placeholder {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $brown;
      }
    }

    & > button {
      width: 100%;
      border-radius: 50%;
      background: $blue;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px 8px 8px 9px;
      height: 100%;
      margin-left: 5px;
      transition: $transition3;

      &:hover, &.active {
        background: #001F8B;
        background: $blueGr;
        color: #000;
      }
    }
  }
}
