.lwptoc{
    margin: 0 auto 40px!important;
    max-width: 450px!important;
    &_item{
            display: block!important;
            font-size: 16px!important;
            line-height: 24px!important;
            padding: 15px 0!important;
            border-bottom: 1px solid rgba(#000, .15)!important;
            &:last-child,&:last-of-type{
                border-bottom: none!important;
            }
    }
}