.modal-one-click {
  &__item {
    margin-bottom: 40px;
  }

  &__name {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
    display: block;
  }

  &__img {
    img {
      border-radius: 18px;

    }
  }

  &__text {
    font-size: 12px;
  }
  &__price{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}