.selection {
  margin-bottom: 50px;

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content {
    padding: 60px 15px;
    width: 100%;
    align-items: center;
  }

  &__btn {
    width: calc(100% - 50px);
    margin: 0 25px;
    display: flex;
    padding: 13px;

    &-2 {
      width: 45%;
      margin: 0;
    }
  }

  &__subtitle {
    margin-top: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__agreement {
    font-size: 12px;
    line-height: 15px;
    padding-top: 5px;
  }

  &__input {
    width: 49%;
  }

  &-result {
    margin-bottom: 60px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }

    &__img {
      border-radius: 8px;
      margin-bottom: 15px;
    }

    &__name {
      max-width: 235px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      box-orient: vertical;
      height: 44px;
      text-align: center;
    }

    &__title {
      padding-bottom: 40px;
      display: flex;
      align-items: center;
    }

    &__more {
      display: flex;
      justify-content: space-between;

      img {
        object-fit: contain;
      }
    }

    &__btn {
      padding: 12px 18px;
      margin: 0 35px;
      min-width: 235px;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }

    &__border {
      display: flex;
      align-items: center;
    }

  }

  &-help {
    padding-bottom: 120px;

    &__slider {
      position: relative;
      margin-top: 20px;
    }

    &__next {
      position: absolute;
      top: calc(45% - 4px);
      right: 0;
      z-index: 1000;
      transform: rotate(180deg);
    }

    &__prev {
      position: absolute;
      top: calc(45% - 4px);
      left: 0;
      z-index: 1000;
    }

    &__btn {
      padding: 13px 70px;
    }

    &__form {
      margin-bottom: 70px;

      form {
        width: 100%;

        label {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;

        }

        input {
          margin-bottom: 30px;

          &[type="submit"] {
            width: auto;
            padding: 13px 70px;
            margin: 0;
          }
        }
      }
    }

    &__result {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.22);
      border-radius: 8px;
      margin-bottom: 30px;

    }

    &__header {
      padding: 13px 20px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      background: #F7F4EF;
    }

    &__item {
      padding: 13px 20px;
      font-size: 20px;
      display: block;
      a{
        line-height: 40px;
      }
    }

  }
}

@media screen and(max-width: 1439px) {
  .selection {
    &-help {
      &__item {
        padding: 13px 20px;
        font-size: 14px;
        line-height: 20px;
        display: block;
      }
    }
  }
}

@media screen and(max-width: 1199px) {
  .selection {
    margin-bottom: 40px;

    &__subtitle {
      font-size: 16px;
    }

    &-help {
      &__btn {
        padding: 10px 60px;
      }

      &__form {
        margin-bottom: 60px;

        form {
          width: 100%;

          label {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;

          }

          input {
            margin-bottom: 20px;

            &[type="submit"] {
              padding: 10px 60px;
            }
          }
        }
      }

      &__result {
        margin-bottom: 20px;

      }
    }

    &__btn {
      width: 100%;
      margin: 0;
      padding: 8px;

      &-2 {
        width: 45%;
      }
    }

    &-result {
      margin-bottom: 50px;

      &__item {
        margin-bottom: 30px;
      }

      &__btn {
        padding: 10px 12px;
        margin: 0 25px;
        min-width: 200px;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
      }

      &__name {
        font-size: 14px;
        line-height: 20px;
        height: 40px;
      }

      &__img {
        margin-bottom: 10px;
      }
    }

  }
}

@media screen and(max-width: 991px) {
  .selection {
    margin-bottom: 30px;

    &__input {
      width: 100%;
      margin-bottom: 20px;
    }

    &__btn {
      width: 100%;
    }

    &-help {
      padding-bottom: 60px;

      &__btn {
        padding: 12px;
        display: flex;
        width: 100%;
        margin-bottom: 40px;
      }

      &__form {
        margin-bottom: 60px;

        form {
          width: 100%;

          label {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;

          }

          input {
            margin-bottom: 20px;

            &[type="submit"] {
              padding: 12px;
              display: flex;
              width: 100%;
            }
          }
        }
      }

      &__result {
        margin-bottom: 20px;

      }
    }
  }
}

@media screen and(max-width: 767px) {
  .selection {
    margin-bottom: 30px;

    &__subtitle {
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;
    }

    &-help {
      &__header {
        font-size: 12px;
        padding: 10px 15px;
      }

      &__item {
        font-size: 12px;
        padding: 10px 15px;
      }
    }

    &__agreement {
      text-align: center;
    }

    &__btn {
      width: 100%;
      margin: 0;
      padding: 8px;
    }

    &__content {
      padding: 30px 15px;
    }

    &__title {
      padding-bottom: 20px;
    }

    &-result {
      margin-bottom: 0px;

      &__border {
        display: none;
      }

      &__btn {
        margin: 0 auto;
      }

      &__title {
        padding-bottom: 0px;
      }
    }

  }
}

@media screen and(max-width: 575px) {
  .selection {
    margin-bottom: 30px;

    &__subtitle {

      font-size: 12px;
    }

    &__content {
      width: calc(100% + 30px);
      padding: 20px 0;
    }

    &__btn {
      margin-top: 20px;

      &-2 {
        margin-top: 0;
      }
    }

  }
}